body {
    background: #232323;
}

.square {
    width: 30%;
    margin: 1.66%;;
    padding-bottom: 30%;
    float: left;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
}

#instructions-div {
    height: 30px;
    max-width: 600px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

button {
    float: right;
}

#reset-btn {
    float: left;
}

.selected {
    background-color: blue;
}